@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Oswald);
@import "compass";

html, body {
    width: 100%;
    height: 100%;
    background-color: #CED9DE;
    font-family: 'Slabo 27px', serif;
    font-size:20px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}


#{headings(1, 6)} {
    font-family: 'Oswald', sans-serif;
    margin:0;
}

hr {
    border:none;
    border-bottom:1px solid rgba(0,0,0,.15);
    margin:15px 0;
}

p {
    margin:0;
}

input, textarea {
    padding:15px 10px;
    display:inline-block;
    width:100%;
    @include box-sizing(border-box);
}



.app {
    position:relative;
    background-color: white;
    width: 600px;
    height: 600px;
    margin:0 auto;
    overflow:hidden;
    @include border-radius(10px);

    .contact {
        position:relative;
        margin-right:10px;
        padding:15px 10px;
    }

    .list {
        background-color:rgba(0,0,0,.1);
        border-right:1px solid rgba(0,0,0,.15);
        margin-right:10px;
        padding:15px 10px;

        @include border-radius(10px 0 0 10px);

    }
}

.contact-card {
}

.contactView {
    max-height:100%;
    overflow-y:scroll;
    .avatar {
        margin-right:10px;
        border:4px solid #CED9DE;
        line-height:0;
        img {
            max-width:100%;
        }
    }
    .info {
        padding:10px;
        label {
            margin-right:10px;
            font-weight:bold;
            width:125px;
        }
    }
}

.controls {
    position:absolute;
    z-index:2;
    bottom:0;
    left:0;
    width:100%;
    background-color:white;
    border-top:1px solid rgba(0,0,0,.15);
    padding:15px;
}