<div class="profile">
    <div class="name display-flex">
        <div class="one-third">
            <div class="picture"><img src="images/egg.png" alt=""></div>
        </div>
        <div class="two-thirds">
            <h2>Name</h2>
            <h5>Company Name</h5>
        </div>

    </div>

    <div class="details">
        <div class="lrow display-flex">
            <div class="half"><label>Home Phone:</label></div>
            <div class="half">444-555-0123</div>
        </div>

        <div class="lrow display-flex">
            <div class="half"><label>Address:</label></div>
            <div class="half">123 Street</div>
        </div>

        <div class="lrow display-flex">
            <div class="half"><label>Email</label></div>
            <div class="half">mail@mail</div>
        </div>
    </div>
</div>