 <main class="app">

    <section class="contact-list-container">
      <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacts</h3>

      <div class="contact-list">
        <h4 class="small">A</h4>
        <div class="list-group">
          <button type="button" class="list-group-item active">Adam Apple</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
        </div>

        <h4 class="small">B</h4>
        <div class="list-group">
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
        </div>

        <h4 class="small">C</h4>
        <div class="list-group">
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
          <button type="button" class="list-group-item">Contact Name</button>
        </div>
      </div>

    </section>

    <section class="contact-details-container">

      <div class="contact-details">
        <profile-component class="profile"></profile-component>
      </div>

      <div class="contact-details-new">
        <add-component></add-component>
      </div>

      <div class="contact-edit">
        <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-default">Edit</button>
      </div>

    </section>

  </main>