<main class="app display-flex">
    <section class="list one-third">
        list of contacts
    </section>

    <section class="contact-card two-thirds">

        <div [ng-switch]="state">
            <contact-card *ngSwitchWhen="VIEW">
            </contact-card>
            <contact-edit *ngSwitchWhen="EDIT">
                edit contact
            </contact-edit>
            <contact-new *ngSwitchWhen="NEW">
                new contact
            </contact-new>
        </div>

        <div class="controls">
            <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-default">Edit</button>
        </div>
    </section>
    
</main>