<main class="app display-flex">
    <section class="list one-third">
        list of contacts
    </section>

    <section class="contact two-thirds">

        <div class="contactView" [ng-switch]="state">
            <contact-card *ngSwitchWhen="VIEW"
                [contact]="contact"
            ></contact-card>
            <contact-edit *ngSwitchWhen="EDIT"
                [contact]="contact"
            ></contact-edit>
            <contact-new *ngSwitchWhen="NEW"
            ></contact-new>
        </div>

        <div class="controls display-flex justify-content" data-content="space-between">
            <button class="btn btn-default" (click)="state = NEW" *ngIf="!editing">Add New</button>
            <button class="btn btn-default" (click)="saveCard(contact)" *ngIf="editing">Save</button>

            <button class="btn btn-default" (click)="editContact()">{{ action }}</button>
        </div>
    </section>
    
</main>